@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.member-img img {
    width: 70%;
    transition: 0.3s ease;
}

.member-name h2 {
    font-size: 1.8rem;
    margin: 0 30px;
    color: rgb(24, 24, 78);
}

.member-top h1 {
    font-size: 4rem;
    color: #29323c;
}

.member-top p {
    font-size: 1.5rem;
    margin: 0 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.member-section {
    padding: 20px 0;
    transition: 0.3s ease-in-out;
}

.member-section:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

#leader .leader,
#our-team .our-team,
#hardware .hardware,
#official .official,
#mechanic .mechanic,
#vision .vision,
#motion .motion,
#communication .communication,
#intellegent .intellegent,
#alumni .alumni {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    justify-content: center;
}

#leader .leader-member,
#hardware .hardware-member,
#official .official-member,
#mechanic .mechanic-member,
#vision .vision-member,
#motion .motion-member,
#communication .communication-member,
#intellegent .intellegent-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/********** Header Section **********/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 12vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .brand img {
    position: relative;
    left: 20px;
    width: 96px;
    height: 31.96875px;
    /* opacity: ; */
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.8s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    text-decoration: none;
    color: rgb(203, 203, 203);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.03);
    font-size: 10rem;
    letter-spacing: 30px;
    z-index: -1;
    transition: 0.3s ease;
}

#header .nav-list li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: white;
}

#header .hamburger {
    position: relative;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    display: inline-block;
    display: flex;
    z-index: 100;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header .hamburger::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 20px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/********** Team Section **********/
#team {
    background-color: #29323c;
    position: relative;
    z-index: 1;
}

#team::after {
    content: "";
    background-image: url(img/bgpens.png);
    /* background-size: cover; */
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
}

#team .team {
    min-height: 45vh;
}

#team h1 {
    font-size: 3rem;
    color: white;
}

/********** Our Team Section **********/
#our-team .ourteam-top h1 {
    font-size: 4rem;
    color: #29323c;
}

#our-team .ourteam-top h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    color: rgb(24, 24, 78);
    padding: 0 30px;
}

#our-team .ourteam-top p {
    font-size: 1.5rem;
    margin: 0 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#our-team .ourteam-img img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    transition-property: all;
}

#our-team .ourteam-img img:hover {
    width: 105%;
    height: 105%;
}

/********** Alumni Section ********/
#alumni .alumni h1 {
    font-size: 4rem;
    color: #29323c;
    padding: 0 80px;
    margin-bottom: 40px;
}

#alumni .alumni p {
    font-size: 1.5rem;
    margin: 0 30px;
    margin-top: 20px;
}

#alumni .alumni h2 {
    font-size: 2.6rem;
    margin: 0 30px;
    color: rgb(24, 24, 78);
}

#alumni .alumni-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#alumni .alumni-item {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 1%;
}

#alumni .alumni-item h2 {
    margin: 20px 0;
    margin-top: 100px;
}

#alumni .alumni-item p {
    margin: 8px 0;
}

/********** Footer Section ********/
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    margin: 0 5px;
}

#footer .social-item {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover {
    filter: grayscale(0);
}

#footer p {
    font-size: 1.1rem;
    color: white;
}

/**
* Style (md).
*/
@media (min-width: 768px) {

    /********** Member Section ********/
    .member-top p {
        padding: 0 30px;
    }

    .member-img img {
        width: 399.44px;
        height: 600px;
        transition: 0.3s ease-in-out;
    }

    .member-name h2 {
        font-size: 2rem;
    }

    /********** Team Section ********/
    #team h1 {
        font-size: 4rem;
    }

    /********** Leader Section ********/
    #leader .leader {
        margin-top: -150px;
    }

    /********** Ofiiicial Section ********/
    #official .official-member {
        flex-direction: row;
    }

    /********** Mechanic Section ********/
    #mechanic .mechanic-member {
        flex-direction: row;
    }

    /********** Vision Section ********/
    #vision .vision-member {
        flex-direction: row;
    }

    /********** Hardware Section ********/
    #hardware .hardware-member {
        flex-direction: row;
    }

    /********** Motion Section ********/
    #motion .motion-member {
        flex-direction: row;
    }

    /********** Communication Section ********/
    #communication .communication-member {
        flex-direction: row;
    }

    /********** Intellegent Section ********/
    #intellegent .intellegent-member {
        flex-direction: row;
    }

    /********** Alumni Section ********/
    #alumni .alumni-items .alumni-item {
        flex-basis: 45%;
    }

    #alumni .alumni-item p {
        padding: 0;
    }
}

/**
* Style (lg).
*/
@media (min-width: 1024px) {

    /********** Our Team Section ********/
    #our-team .our-team {
        flex-direction: row;
        margin-top: -90px;
    }

    .member-name h2 {
        font-size: 2.5rem;
    }
}

/**
* Style (xl).
*/
@media only screen and (min-width: 1280px) {

    /************ Header Section **********/
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.1rem;
        margin-right: 10px;
    }

    #header .nav-list ul a::after {
        display: none;
    }

    /********** Leader Section ********/
    #leader .leader {
        margin-top: -20px;
    }

    /********** Our Team Section ********/
    #our-team .ourteam-img img {
        width: 660px;
        height: 371.25px;
        transition: 0.3s ease;
        transition-property: all;
    }

    #our-team .ourteam-img img:hover {
        width: 693px;
        height: 389.8125px;
    }

    /********** Member Section ********/
    .member-top p {
        margin: 0 150px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}


/**
* Keyframes.
*/
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}